@model IEnumerable<CrudNet8MVC.Models.Persona>
@{
ViewData["Title"] = "Lista de Contactos";
}

<h1 class="text-center">Tablero de Control de Gestion de Personas</h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Persona" class="btn btn-secondary d-block mx-auto btn-lg">
            <i class="fa fa-plus" aria-hidden="true"></i> Agregar Persona
        </a>
    </div>
</div>

<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="text-white"><strong>Lista de Personas</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if(Model.Count() > 0)
                    {
                    <table class="table table-bordered" id="tblUsuarios" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Id)</th>
                            <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                            <th>@Html.DisplayNameFor(m => m.Apellido)</th>
                            <th>@Html.DisplayNameFor(m => m.CorreoElectronico)</th>
                            <th>@Html.DisplayNameFor(m => m.NumeroTelefono)</th>
                            <th>@Html.DisplayNameFor(m => m.FechaNacimiento)</th>
                            <th>@Html.DisplayNameFor(m => m.Direccion)</th>
                            <th>Edad</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach(var item in Model){
                        <tr>
                            <td>@Html.DisplayFor(m => item.Id)</td>
                            <td>@Html.DisplayFor(m => item.Nombre)</td>
                            <td>@Html.DisplayFor(m => item.Apellido)</td>
                            <td>@Html.DisplayFor(m => item.CorreoElectronico)</td>
                            <td>@Html.DisplayFor(m => item.NumeroTelefono)</td>
                            <td>@Html.DisplayFor(m => item.FechaNacimiento)</td>
                            <td>@Html.DisplayFor(m => item.Direccion)</td>
                            <td>@item.CalcularEdad()</td>
                            <td>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i> Detalle</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-eraser" aria-hidden="true"></i> Borrar</a>
                            </td>
                        </tr>
                        }
                        </tbody>
                    </table>
                    }
                    else
                    {
                    <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


