@model CrudNet8MVC.Models.Producto

@{
    ViewData["Title"] = "Eliminar Producto";
}

<h1>@ViewData["Title"]</h1>

<h3>¿Estás seguro de que deseas eliminar este producto?</h3>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nombre:</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Precio:</dt>
        <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>

        <dt class="col-sm-2">Descripción:</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>

        <dt class="col-sm-2">Venta Asociada:</dt>
        <dd class="col-sm-10">@Model.Venta.Descripcion</dd>
    </dl>
</div>

<form asp-action="Borrar" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="ProductoDashboard" class="btn btn-secondary">Cancelar</a>
</form>